.modalHeaderBlock {
  width: 800px;
  position: sticky;
  background: white;
  border-radius: inherit;
  left: calc(50% - 840px / 2);
  top: calc(50% - 412px / 2);
  bottom: 100px;
}

.modalHeaderBtnDiv {
  padding: 10px;
}

.modalHeaderBtnDiv i {
  cursor: pointer;
}

.modalHeaderBtnDiv label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 34px;
  /* identical to box height */

  /* Neutral / 900 */

  color: #121417;
}

.details_division {
  padding: 24px;
  gap: 16px;
  width: 650px;
  /* height: 3000px; */
  background: #f9f9f9;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.05),
    inset 0px -4px 4px rgba(0, 0, 0, 0.05);
}

.product_details_division {
  padding: 0px;
  /* gap: 16px; */

  width: 100%;
  height: 100px;

  background: #ffffff;
  /* Bottom shadow */

  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.product_name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
  line-height: 50px;
  /* identical to box height */
  padding: 16px 0px 5px 0px;
  letter-spacing: 0.25px;

  /* Neutral / 900 */

  color: #121417;
}

.division_2 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  margin-top: 20px;
  gap: 8px;
  /* padding: 16px; */
  padding-right: -10px;
  /* padding-left: 16px; */
  /* height: 350px; */
  overflow-y: auto;
  white-space: nowrap;
}

.date_title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  padding-left: 16px;
  letter-spacing: 0.5px;

  color: #000000;
}

.time_division {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */

  /* text-align: center; */
  letter-spacing: 0.15px;
  padding-left: 5%;
  color: #000000;
  width: 40%;
}

.pickdetails_division {
  width: 50%;
  border-left: 2px solid #5d5d5d;
  padding-bottom: 5%;
}

.detail_1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 28px;
  /* identical to box height */
  padding-left: 5%;
  /* text-align: center; */
  letter-spacing: 0.15px;

  color: #000000;
}

.detail_2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */
  padding-left: 5%;
  /* text-align: center; */
  letter-spacing: 0.15px;

  color: #000000;
}

.cancel_button {
  padding: 10px;
}

.select_item {
  align-items: center;
  background: transparent;
  border-bottom: 1px solid #eee;

  display: flex;
  padding: 15px 10px;
  cursor: pointer;
}

.quantity_popup {
  color: #a1a1a1;
  font-size: 12px;
  /* margin: 0; */
  padding-left: 20px;
  text-align: left;
}

.price_popup {
  color: #606161;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

/*
 Copyright (C) 2022 Eunimart Omnichannel Pvt Ltd. (www.eunimart.com)
 All rights reserved.
 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU Lesser General Public License v3.0 as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Lesser General Public License v3.0 for more details.
 You should have received a copy of the GNU Lesser General Public License v3.0
 along with this program.  If not, see <https://www.gnu.org/licenses/lgpl-3.0.html/>.
*/